$font-weight-medium: 500;
$font-weight-regular: 400;

.text-medium {
  font-weight: $font-weight-medium;
}

.text-regular {
  font-weight: $font-weight-regular;
}

/* Heading */

.text-h1 {
  @extend .text-regular;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;

  &-md {
    @extend .text-h1;
    @extend .text-medium;
  }
}

.text-h2 {
  @extend .text-regular;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1.5px;

  &-md {
    @extend .text-h2;
    @extend .text-medium;
  }
}

/* Body */

.text-body-l {
  @extend .text-regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;

  &-md {
    @extend .text-body-l;
    @extend .text-medium;
  }
}

.text-body-m {
  @extend .text-regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;

  &-md {
    @extend .text-body-m;
    @extend .text-medium;
  }
}

.text-body-s {
  @extend .text-regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;

  &-md {
    @extend .text-body-s;
    @extend .text-medium;
  }
}
