@use './_normalize.scss';
@use './_components.scss';
@use './_atoms.scss';
@use './_typography.scss';
@import 'primeicons/primeicons.css';

* {
  font-family: 'Inter', sans-serif;
  // Set default text color for all elements except SVG elements and their children

  &:not(.p-button) > &:not(svg):not(svg *):not(.p-component) {
    color: var(--color-text-secondary);
  }
}

html {
  // Prevent layout shift when scrollbar is hidden/shown
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

html,
body {
  min-height: 100vh;
  background-color: var(--color-neutral-white);
}
