@use './_normalize.scss';
@use './_components.scss';
@use './_atoms.scss';

* {
  font-family: 'Inter', sans-serif;
  // Set default text color for all elements except SVG elements and their children
  &:not(svg):not(svg *) {
    color: var(--color-default);
  }
}

html {
  // Prevent layout shift when scrollbar is hidden/shown
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

html,
body {
  min-height: 100vh;
  background-color: var(--color-background);
}
