// ---------------------- Input Text wrapper in Icon Field ----------------------
.p-iconfield {
  /* Clear */
  border: 1px solid transparent;
  outline: none;

  /* Appearance */
  color: var(--color-unnamed-5);
  background-color: var(--color-bg-neutral-soft);
  padding: 0 12px;
  border-radius: 8px;

  .p-inputicon {
    transition: color 0.2s ease-in-out;
    color: var(--color-icon-soft);
  }

  & > .p-inputtext {
    flex: 1;
    padding: 10px 8px;

    /* Input placeholder */
    &::placeholder {
      transition: color 0.2s ease-in-out;
      color: var(--color-font-soft);
    }

    /* Clear */
    &:focus-within {
      outline: none;
    }
  }

  /* Alignment */
  display: flex;
  align-items: center;

  /* Transition */
  transition: 0.4s;

  /* Hover */
  &:hover {
    .p-inputicon {
      color: var(--color-icon-strong);
    }

    & > .p-inputtext {
      /* Input placeholder */
      &::placeholder {
        color: var(--color-font-secondary);
      }
    }
  }

  /* Focus */
  &:active,
  &:focus-within {
    border-color: var(--color-stroke-primary);

    .p-inputicon {
      color: var(--color-icon-strong);
    }

    & > .p-inputtext {
      /* Input placeholder */
      &::placeholder {
        color: var(--color-font-secondary);
      }
    }
  }

  /* Filled */
  &:not(:active):not(:focus-within).p-filled {
    .p-inputicon {
      color: var(--color-icon-strong);
    }

    & > .p-inputtext {
      /* Input placeholder */
      &::placeholder {
        color: var(--color-font-secondary);
      }
    }

    border-color: var(--color-stroke-secondary);
  }

  /* Disabled */
  &.p-disabled {
    pointer-events: none;
    background-color: var(--color-bg-neutral-soft);
    color: var(--color-font-disabled);

    .p-inputicon {
      color: var(--color-icon-disabled);
    }

    & > .p-inputtext {
      /* Input placeholder */
      &::placeholder {
        color: var(--color-font-disabled);
      }
    }
  }

  /* Invalid */
  &.p-invalid {
    border-color: var(--color-stroke-error-strong);

    .p-inputicon {
      color: var(--color-icon-strong);
    }

    & > .p-inputtext {
      color: var(--color-font-primary);
      /* Input placeholder */
      &::placeholder {
        color: var(--color-font-primary);
      }
    }
  }
}

// ---------------------- Single Select ----------------------
.p-select {
  /* Appearance */
  display: flex;
  align-items: center;
  flex: 1;
  padding: 11px 12px;
  border-radius: 8px;
  justify-content: space-between;
  outline: 1px solid var(--color-unnamed-1);
  cursor: pointer;

  .p-select-label {
    color: var(--color-unnamed-5);
    display: flex;
    gap: 8px;
  }

  // TODO: Add styles for filled, hover, focus
  /* Filled */
  /* Hover */
  /* Focus */

  /* Disabled */
  &.p-disabled {
    pointer-events: none;
    color: var(--color-unnamed-4);
    outline: none;
    background-color: var(--color-unnamed-3);

    .p-select-dropdown,
    .p-select-label {
      color: var(--color-unnamed-4);
    }
  }

  /* Invalid */
  &.p-invalid {
    color: var(--color-unnamed-4);
    outline-color: var(--color-stroke-error-strong);

    .p-select-dropdown,
    .p-select-label {
      color: var(--color-font-primary);
    }
  }
}

.p-select-dropdown,
.p-select-label {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  color: var(--color-unnamed-2);
}

.p-select-overlay {
  border-radius: 8px;
  transform: translateY(2px);
  outline: 1px solid var(--color-unnamed-1);
  background-color: var(--color-bg-white);
  overflow: hidden;

  .p-select-list {
    display: flex;
    flex-direction: column;
  }

  .p-select-option {
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
      background-color: var(--color-unnamed-1);
    }
  }
}

// ---------------------- Text area ----------------------
.p-textarea {
  border-radius: 8px;
  padding: 12px;
  outline: 1px solid var(--color-unnamed-1);
  color: var(--color-unnamed-2);

  &::placeholder {
    color: var(--color-unnamed-5);
  }
  &.p-invalid {
    color: var(--color-font-primary);
    outline-color: var(--color-stroke-error-strong);
  }
}
